* {
    padding: 0; margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}
body {
    background-color: #095831;
}
header {
    width: 100%;
    background: green;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 20px;
    .logoName {
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            height: 45px;
            width: 45px;
            margin-right: 20px;
        }
        a {
            color: #fff;
            font-size: 26px;
            font-weight: 600;
        }
    }
    nav ul li {
        position: relative;
        float: left;
        a {
            padding: 20px 40px;
            color: #fff;
            font-size: 22px;
            display: block;
        }
        a:hover {
            background: #fff;
            color: #000;
        }
        ul {
            position: absolute;
            left: 0;
            width: 170px;
            background: green;
            display: none;      
            li {
                a {
                    padding: 20px auto;
                    color: #fff;
                    font-size: 18px;
                }
                width: 100%;
                border: 1px solid rgba(0, 0, 0, .1)
            }
        }
    }
    nav ul li:hover > ul{
        display: initial;
    }
}
.about {
    margin-top: 66px;
    height: 330px;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    .backgrBooks {
        
        width: 1060px;
        height: 260px;

    }
    p {
        font-size: 16px;
        width: 510px;
    }
    .bigLogo {
        height: 260px;
        width: 260px;
    }
}
.book {
    height: auto;
    width: 270px;
    margin: 0 20px;
    padding: 10px;
    background: #A4CEA5;
    border-radius: 5px;
    box-shadow: 2px 4px 8px #020c04;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.5s;
    .bookName {
        margin: 4px 0;
        /*color: #fff;*/
    }
    .bookAuthor {
        font-style: italic;
        margin: 4px 0;
    }
    .bookCover {
        border-radius: 3px;
        height: 380px;
        width: 250px;
    }
    .bookPriceBox {
        transition: 0.5s;
        border-radius: 4px;
        box-shadow: 1px 2px 4px #156826;
        height: 30px;
        width: 75px;
        display: flex;
        justify-content: center;
        align-self: end;
        align-items: center;
        background-color: #14AE5C;
    }
}
.book:hover {
    transition: 0.3s;
    background: #4bc479;
    .bookPriceBox {
        background-color: #12c536;
    }
}
.booksSection {
    /*width: 100%;*/
    padding: 0 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding: 10px 0;*/
    /*margin: 20px 0;*/
    margin-bottom: 20px;
    h2 {
        margin: 20px 0;
        color: #ffffff;
    }
}
.booksContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .bestsellersBooks {
        display: flex;
    }
}
.bestsellersContainer, .classicContainer {
    display: flex;
}
.arrow {
    height: 30px;
    margin: 0 auto;
    cursor: pointer;
}
.pagesRectangles {
    display: flex;

}
.rectangle {
    height: 25px;
    width: 25px;
    margin: 30px 10px;
    background-color: rgb(173, 170, 170);
    border-radius: 6px;
    box-shadow: 1px 2px 4px #020c04;
    cursor: pointer;
}
.act {
    background-color: rgb(78, 74, 74);
}