* {
    padding: 0; margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}
body {
    background-color: #095831;
}
header {
    width: 100%;
    padding: 0 20px;
    background: green;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}
.logoName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        height: 45px;
        margin-right: 20px;
    }
    .smallLogo {
        display: flex;
        align-items: center;
    }
    .companyName {
        font-size: 26px;
        font-weight: 600;
        color: #fff;
    }
}
header nav ul li {
    position: relative;
    float: left;
    a {
        font-size: 22px;
        padding: 20px 40px;
        color: #fff;
        display: block;
    }
    a:hover {
        background: #fff;
        color: #000;
    }
    ul {
        
        width: 170px;
        background: green;
        display: none;    
        position: absolute;
        left: 0;  
        li {
            width: 100%;
            border: 1px solid rgba(0, 0, 0, .1);
            a {
                font-size: 18px;
                padding: 20px auto;
                color: #fff;
            }
        }
    }
}
nav ul li:hover {
    ul {
        display: initial;
    }
}
.mainContainer {
    margin-top: 66px;
    padding: 0 4%;
    display: flex;
    flex-direction: column;
}
.containerTitle {
    font-size: 28px;
    margin: 30px 0;
    color: #fff;
    align-self: center;
}
.container {
    display: flex;
    justify-content: space-between;
}
.orderContainer {
    height: 400px;
    width: 400px;
    /*margin-top: 20px;*/
    padding: 20px 30px;
    background-color: #2e6d41;
    color: #fff;
    border-radius: 5px;
    box-shadow: 2px 4px 8px #020c04;
    display: flex;
    flex-direction: column;
    h2 {
        font-size: 26px;
    }
    label {
        font-size: 20px;
        margin: 15px 0;
        padding: 5px;
        font-style: italic;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, .2);
        display: flex;
        flex-direction: column;
        input {
            height: 28px;
            font-size: 20px;
            margin: 4px 0;
            padding: 0 5px;
            background-color: #124714;
            color: #f8f8f8;
            outline: none;
            border-radius: 3px;
            border: none;
        }
    }    
}
.totalCost {
    font-size: 22px;
    margin: 10px 0;
}   
.confirmButton {
    height: 50px;
    width: 140px;
    font-size: 24px;
    margin: 10px 0;
    background-color: #0d3d25;
    color: #fff;
    border-radius: 5px;
    transition: 0.5s;
    border: none;
    align-self: center;
}
.confirmButton:hover {
    background-color: #10c966;
    color: #000;
}
.book {
    height: auto;
    width: 520px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #618b61;
    border-radius: 5px;
    box-shadow: 2px 4px 8px #020c04;
    display: flex;
    .bookCover {
        height: 228px;
        width: 150px;
        border-radius: 3px;
        cursor: pointer;
    }
    .bookInfo {
        width: 100%;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .bookDetails {
            display: flex;
            flex-direction: column;
            .bookNamePlusDelete {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .bookName {
                    font-size: 20px;
                    font-weight: bold;
                }
                .delete {
                    font-size: 30px;
                    cursor: pointer;
                }
            }
            .bookAuthor {
                font-size: 18px;
                margin: 8px 0;
                font-style: italic;
            }
        }
        .bookPrices {
            display: flex;
            justify-content: space-between;
            .bookPriceBox {
                height: 30px;
                width: 75px;
                margin: 0;
                background-color: #14AE5C;
                border-radius: 3px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .bookCostPlusCount {
                display: flex;
                align-items: center;
                * {
                    margin: 0 5px;
                }
                
                .bookCostBox {
                    height: 30px;
                    width: 75px;
                    margin: 0 5px;
                    background-color: #246140;
                    border-radius: 3px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .minus, .plus {
                    font-size: 28px;
                    cursor: pointer;
                }
                .bookCount {
                    font-size: 20px;
                }
            }
        }
    } 
}
.booksPlusInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    .goodsCount {
        font-size: 22px;
        margin: 0 20px;
        color: #fff;
    }
    .clearButton {
        height: 40px;
        width: 100px;
        font-size: 16px;
        margin-bottom: 20px;
        background: #10c966;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.5s;
    }
    .clearButton:hover {
        background-color: #fff;
        border: 1px solid #0cfa04;
    }
    .hide {
        display: none;
    }
}
