* {
    padding: 0; margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}
body {
    background-color: #095831;
}
header {
    width: 100%;
    padding: 0 20px;
    background: green;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}
.logoName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        height: 45px;
        margin-right: 20px;
    }
    .smallLogo {
        display: flex;
        align-items: center;
    }
    .companyName {
        font-size: 26px;
        font-weight: 600;
        color: #fff;
    }
}
header nav ul li {
    position: relative;
    float: left;
    a {
        font-size: 22px;
        padding: 20px 40px;
        color: #fff;
        display: block;
    }
    a:hover {
        background: #fff;
        color: #000;
    }
    ul {
        
        width: 170px;
        background: green;
        display: none;    
        position: absolute;
        left: 0;  
        li {
            width: 100%;
            border: 1px solid rgba(0, 0, 0, .1);
            a {
                font-size: 18px;
                padding: 20px auto;
                color: #fff;
            }
        }
    }
}
nav ul li:hover {
    ul {
        display: initial;
    }
}
.container {
    margin-top: 66px;
    padding: 0 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containerTitle {
    font-size: 28px;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #fff;
    cursor: default;
}
.booksContainer {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.book {
    height: 508px;
    width: 270px;
    margin: 20px;
    padding: 10px;
    background: #A4CEA5;
    border-radius: 5px;
    box-shadow: 2px 4px 8px #020c04;
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .bookName {
        font-size: 18px;
        margin: 4px 0;
        font-weight: 600;
    }
    .bookAuthor {
        margin: 4px 0;
        font-style: italic;
    }
    .bookCover {
        height: 380px;
        width: 250px;
        border-radius: 3px;
    }
    .bookPriceBox {
        height: 30px;
        width: 75px;
        background-color: #14AE5C;
        border-radius: 4px;
        box-shadow: 1px 2px 4px #156826;
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-self: end;
        align-items: center;
    }
}
.book:hover { 
    background: #4bc479;
    transform: scale(1.02);
    transition: 0.3s;
    .bookPriceBox {
        background-color: #12c536;
    }
}
.pagesRectangles {
    display: flex;
}
.rectangle {
    height: 25px;
    width: 25px;
    margin: 30px 10px;
    background-color: rgb(173, 170, 170);
    box-shadow: 1px 2px 4px #020c04;
    border-radius: 6px;
    cursor: pointer;
}
.act {
    background-color: rgb(78, 74, 74);
}