* {
    padding: 0; margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}
body {
    background-color: #0d3d25;
}
header {
    width: 100%;
    background: green;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 20px;
    .logoName {
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            height: 45px;
            width: 45px;
            margin-right: 20px;
        }
        a {
            color: #fff;
            font-size: 26px;
            font-weight: 600;
        }
    }
    nav ul li {
        position: relative;
        float: left;
        a {
            padding: 20px 40px;
            color: #fff;
            font-size: 22px;
            display: block;
        }
        a:hover {
            background: #fff;
            color: #000;
        }
        ul {
            position: absolute;
            left: 0;
            width: 170px;
            background: green;
            display: none;      
            li {
                a {
                    padding: 20px auto;
                    color: #fff;
                    font-size: 18px;
                }
                width: 100%;
                border: 1px solid rgba(0, 0, 0, .1)
            }
        }
    }
    nav ul li:hover > ul{
        display: initial;
    }
}
.container {
    margin-top: 66px;
    padding: 40px 60px; 
}
.book {
    height: 500px;
    width: 700px;
    background: #4b7955;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    * {
        margin: 0 10px;
    }
    img {
        height: 456px;
        width: 300px;
        border-radius: 3px;
    }
    
}
.bookInfo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bookDetails {
    /*height: 100%;*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .bookName {
        margin: 10px 0;
    }
    .bookAuthor {
        font-style: italic;
        font-weight: 100;
        margin: 10px 0;
    }
    .bookDescription {
        font-size: 20px;
        margin: 20px 0;
    }
    /*align-items: center;*/

}
.bookBuying {
    display: flex;
    flex-direction: column;
    /*justify-content: start;*/
    align-items: start;
    .bookPriceBox {
        margin: 0;
        border-radius: 3px;
        height: 30px;
        width: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #14AE5C;
    }
    .cartBox {
        cursor: pointer;
        /*padding: 10px 10px;*/
        margin: 10px 0;
        height: 40px;
        width: 100px;
        border-radius: 6px;
        background-color: #16a829;
        display: flex;
        justify-content: center;
        align-items: center;
        content: "aaa";
        span {
            content: "aaa";
        }
    }
    .act {
        background: #cfcccc;
        border: 1px solid #14AE5C;
    }
    .cartStatus {
        content: "AAAA";
    }
}